/* 이현민 2024 css 리셋 */
/* 사이즈는 rem */
/* 모바일에서 원래 폰트 크기 출력, 모바일 터치시 검은색 영역X  */
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}
/* border-box 이용 크기 조정 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 폰트 크기 고장 방지 */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
/* rem px 1:1 대응 */
html {
  font-size: 62.5%;
}

/* list기본 스타일 제거 */
ul,
ol {
  list-style: none;
}
/* 접근성 생각하면 밑에 role 사용 */
/* 
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
 */

/* 가독성을위한 line-height 1.5 상속 시키기  */
/* 모바일 주소바를 위한 dvh사용 */
/* 폰트최적화 프리텐다드 */
body {
  min-height: 100dvh;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}

/* 제목과 인터랙션 요소는 더짧게  */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* balance 최신속성을 이용해서 제목 자르기  */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* 이미지,사진 태그 활용하기 쉽게*/
img,
picture {
  max-width: 100%;
  display: block;
}

/* 폰트 속성 상속받기 따로 폰트설정을 할 필요 없음. */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* a태그 대상에게 스타일을 적용하는 가상클래스 target 페이지 이동시 여백이 있어야함 */
:target {
  scroll-margin-block: 1rem;
}

/* 한글은 자간 음수로 */
.kor {
  letter-spacing: -0.2;
}

/* 버튼 태그 초기화 */
button {
  background-color: none;
  border: 0;
  cursor: pointer;
}

/* a 태그 밑줄 삭제 */
a {
  text-decoration: none;
}
